$main-color: #61dbfb;

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --react-blue: #61dbfb;
  --main-color: var(--react-blue);
  --inverse-text-color: #eaeaea;
  --error-color: rgb(244 63 94);

  --background-color: #242424;

  --transform-ease-in-out: transform ease-in-out 0.2s;
}

.material-symbols-outlined {
  font-variation-settings:
    "FILL" 0,
    "wght" 400,
    "GRAD" 0,
    "opsz" 24;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

main {
  margin: 0;

  display: flex;
  align-items: center;
  justify-content: center;

  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;

  &:hover {
    color: #535bf2;
  }
}

.content {
  display: flex;
  flex-direction: column;
}

.cards-container {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;

  justify-content: center;

  width: 640px;
}

.card {
  border: solid 1px var(--main-color);
  border-radius: 8px;

  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex-direction: column;
  flex-basis: 30%;

  background-color: var(--background-color);

  padding: 8px;

  position: relative;

  cursor: pointer;

  transition: var(--transform-ease-in-out);

  &:hover {
    z-index: 10;

    transform: scale(1.15);

    &::before {
      opacity: 1;
    }
  }

  &::before {
    content: "";

    width: 100%;
    height: 100%;

    position: absolute;
    top: 0;
    z-index: -1;

    opacity: 0;

    box-shadow: 0 0 24px var(--main-color);

    transition: opacity ease-in-out 0.2s;
  }

  &__cover {
    width: 100%;
    height: auto;

    min-width: 180px;
    min-height: 270px;
  }

  &__metadata {
    margin-top: 8px;

    display: flex;
    height: 80px;
    justify-content: flex-start;
    align-items: center;

    width: 100%;
  }

  &__detail {
    display: flex;
    flex: 1;
    flex-direction: column;
  }

  &__title {
    font-size: 14px;
    font-weight: 600;
    text-overflow: ellipsis;
    --webkit-line-clamp: 2;
  }

  &__author {
    margin-top: 4px;

    font-size: 12px;
    font-weight: 400;
    color: #bbb;
  }

  &__favorite {
    margin: 4px 0;

    border: none;

    width: 16px;
    height: 16px;

    padding: 0;

    background-color: transparent;
    color: var(--main-color);

    cursor: pointer;

    > .material-symbols-outlined {
      font-size: 16px;
    }

    &--active {
      > .material-symbols-outlined {
        font-variation-settings:
          "FILL" 1,
          "wght" 400,
          "GRAD" 0,
          "opsz" 24;
      }
    }
  }

  &__menu {
    border: none;
    border-radius: 24px;

    display: flex;
    align-items: center;
    justify-content: center;

    width: 24px;
    height: 24px;

    padding: 0;

    background-color: transparent;

    cursor: pointer;

    &:hover {
      background-color: rgba(96, 96, 96, 0.8);
    }

    &__icon {
      border-radius: 4px;

      width: 4px;
      height: 4px;

      position: relative;

      background-color: var(--main-color);

      &::before,
      &::after {
        content: "";

        border-radius: 4px;

        display: block;
        width: 4px;
        height: 4px;

        position: absolute;

        background-color: var(--main-color);
      }

      &::before {
        transform: translateY(-6px);
      }

      &::after {
        transform: translateY(6px);
      }
    }
  }
}

.header {
  display: flex;

  width: 100%;

  padding: 16px;

  position: absolute;
  top: 0;
  left: 0;
}

.filter {
  > input,
  > label {
    cursor: pointer;
  }

  > label {
    margin-left: 8px;
  }
}

.button {
  border: none;
  border-radius: 8px;

  padding: 8px 16px;

  background-color: darken($color: $main-color, $amount: 25%);

  cursor: pointer;

  font-size: 14px;
  font-weight: 600;
  color: var(--inverse-text-color);

  &:disabled {
    opacity: 0.3;

    cursor: default;
  }
}

.create {
  display: flex;
  flex: 1;
  justify-content: flex-end;

  &__button {
    @extend .button;

    > a {
      font-size: 14px;
      font-weight: 600;
      color: var(--inverse-text-color);
    }
  }
}

.control {
  margin-top: 16px;

  display: flex;
  justify-content: center;
  gap: 16px;

  width: 100%;

  padding: 16px 0;

  position: absolute;
  bottom: 16px;
  left: 0;

  &__button {
    border: none;

    padding: 8px 16px;

    background-color: transparent;

    position: relative;

    font-size: 14px;
    font-weight: 600;
    color: var(--main-color);

    cursor: pointer;

    transition: var(--transform-ease-in-out);

    &:hover {
      transform: scale(1.15);
    }
  }

  &__prev,
  &__next {
    display: flex;
    flex: 1;
  }

  &__prev {
    justify-content: flex-end;

    > .control__button::before {
      content: "";

      border-bottom: solid 2px var(--main-color);
      border-left: solid 2px var(--main-color);

      width: 8px;
      height: 8px;

      position: absolute;
      bottom: 10px;
      left: 0;

      transform: rotate(45deg);
    }
  }

  &__next {
    justify-content: flex-start;

    > .control__button::after {
      content: "";

      border-right: solid 2px var(--main-color);
      border-bottom: solid 2px var(--main-color);

      width: 8px;
      height: 8px;

      position: absolute;
      right: 0;
      bottom: 10px;

      transform: rotate(-45deg);
    }
  }
}

.form {
  display: flex;
  flex-direction: column;
  gap: 32px;

  width: 640px;

  &__submit-button {
    @extend .button;
  }
}

.input {
  display: flex;
  flex-direction: column;

  > input,
  > textarea {
    margin-top: 8px;

    border: none;
    border-bottom: solid 1px var(--main-color);

    font-size: 14px;
    line-height: 24px;

    background-color: var(--background-color);

    &:focus {
      outline: none;
    }
  }

  > input {
    height: 24px;
  }

  > textarea {
    min-height: 72px;

    resize: vertical;
  }

  &__error {
    margin-top: 8px;

    font-size: 12px;
    font-weight: 400;
    color: var(--error-color);
  }
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
}
